---
import { languages } from '../i18n/ui';
---

<nav class="language-switcher">
  <ul>
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))}
  </ul>
</nav>
